<table>
  <thead>
    <tr>
      @for (col of columns; track col.header) {
        <th>{{ col.header }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (item of data; track item.id) {
      <tr>
        @for (col of columns; track col.header) {
          <td>
            @if (col.template) {
              <ng-container *ngTemplateOutlet="col.template; context: { $implicit: item }">
              </ng-container>
            } @else {
              {{ item[col.field] }}
            }
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">
          Nenhum registro encontrado.
        </td>
      </tr>
    }
  </tbody>
</table>
