<h2>{{ btnInsert ? 'Novo produto' : 'Editar produto' }}</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="Inputs">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Informe o nome do produto" formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="Inputs">
    <mat-label>Descrição</mat-label>
    <textarea
      matInput
      placeholder="Informe a descrição do produto"
      formControlName="description"
      rows="3"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="Inputs">
    <mat-label>Preço</mat-label>
    <input
      matInput
      placeholder="Informe o preço do produto"
      formControlName="price"
      type="number"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="Inputs">
    <mat-label>Quantidade</mat-label>
    <input
      matInput
      placeholder="Informe a quantidade do produto"
      formControlName="quantity"
      type="number"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="Inputs">
    <mat-label>Imagem</mat-label>
    <input matInput placeholder="Informe o link da imagem do produto" formControlName="imgUrl" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="Inputs">
    <mat-label>Categorias</mat-label>
    <mat-select formControlName="categories" multiple required>
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit">
      {{ btnInsert ? 'Salvar' : 'Atualizar' }}
    </button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
