.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.header-scroll-container {
  height: 80%;
}

mat-paginator {
  align-self: center;
}
