.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.container {
  flex: 1;
  overflow-y: scroll;
  min-height: 0; /* importante para o flex funcionar corretamente */
}
